@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --bg-primary-dark: #0a0a0a;
  --bg-primary-light: #f3f4f6;
  --bg-primary-color: #f3f4f6;

  --bg-secondary-dark: #0f0f10;
  --bg-secondary-light: #fff;
  --bg-secondary-color: #fff;

  --bg-tertiary-dark: #1f1f23;
  --bg-tertiary-light: #ececee;
  --bg-tertiary-color: #ececee;

  --placeholder-dark: rgba(222, 226, 230, 0.75);
  --placeholder-light: rgba(33, 37, 41, 0.75);
  --placeholder-color: rgba(33, 37, 41, 0.75);
}

[data-bs-theme="dark"] {
  --bg-primary-color: var(--bg-primary-dark);
  --bg-secondary-color: var(--bg-secondary-dark);
  --bg-tertiary-color: var(--bg-tertiary-dark);
  --placeholder-color: var(--placeholder-dark);
  --bs-border-color: #2e2e31;
  --bs-body-bg: var(--bg-secondary-dark);
}

[data-bs-theme="light"] {
  --bg-primary-color: var(--bg-primary-light);
  --bg-secondary-color: var(--bg-secondary-light);
  --bg-tertiary-color: var(--bg-tertiary-light);
  --placeholder-color: var(--placeholder-light);
  --bs-border-color: #cbd0dd;
}

.bg-body {
  background-color: var(--bg-primary-color) !important;
}

.bg-body-secondary {
  background-color: var(--bg-secondary-color) !important;
}

.bg-body-tertiary {
  background-color: var(--bg-tertiary-color) !important;
}

html,
body {
  height: 100%;
  overflow-y: auto;
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-primary-color);
}

#offcanvasSidebar {
  width: 235px;
  top: 60px;
}

.offcanvas-backdrop {
  z-index: 1028;
}

main {
  position: absolute;
  top: 60px;
  left: 235px;
  right: 0;
  height: auto;
  min-height: calc(100vh - 60px);
  padding: 20px;
  overflow: hidden;
}

main {
  transition: width 0.3s ease, left 0.3s ease;
}

main.collapsed {
  left: 80px;
}

@media ( max-width : 991.98px) {
	main {
		left: 0 !important;
	}
}

.dropdown-menu {
  --bs-dropdown-link-hover-bg: var(--bg-tertiary-color) !important;
}

.dropdown-divider {
  border-top: 1px solid var(--bs-border-color);
}

/* Primary Button Styles */
[data-bs-theme="light"] .btn-custom-primary {
  background-color: var(--bg-primary-dark) !important;
  color: #fff !important;
  border-color: var(--bg-primary-dark) !important;
}

[data-bs-theme="light"] .btn-custom-primary:hover,
[data-bs-theme="light"] .btn-custom-primary:active {
  background-color: #2e2e2e !important;
  color: #fff !important;
  border-color: #2e2e2e !important;
}

[data-bs-theme="dark"] .btn-custom-primary {
  background-color: var(--bg-primary-light) !important;
  color: #000 !important;
  border-color: var(--bg-primary-light) !important;
}

[data-bs-theme="dark"] .btn-custom-primary:hover,
[data-bs-theme="dark"] .btn-custom-primary:active {
  background-color: #e5e5e5 !important;
  color: #000 !important;
  border-color: #e5e5e5 !important;
}

/* Secondary Button Styles */
.btn-custom-secondary {
  background-color: var(--bg-secondary-color) !important;
  color: var(--bs-emphasis-color) !important;
  border-color: var(--bs-border-color) !important;
}

.btn-custom-secondary:hover,
.btn-custom-secondary:active {
  background-color: var(--bg-tertiary-color) !important;
  color: var(--bs-emphasis-color) !important;
  border-color: var(--bs-border-color) !important;
}

/* Box Shadow none */
.nav-link:focus-visible {
  box-shadow: none;
}

/* Dropdown Item Styles */
.dropdown-item.active, .dropdown-item:active {
	background-color: var(--bs-dropdown-link-hover-bg) !important;
  color: var(--bs-dropdown-link-color);
}